.flex-container {
   display: flex; 
   flex-direction: row ;
   justify-content: space-around;
   padding: 0;
   margin: 0;
   list-style: none;
   align-content: flex-start;
   align-items:flex-start;
}