body {
 background-color: rgb(96, 96, 102);
 background-image: url(C:\Users\p\space_trade\src\spaceWall.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
